@use '../../../variables.scss' as v;

.chatDisplay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: linear-gradient(v.$color-primary, v.$color-secondary);
}

.messages {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 15px 0px;
    width: 78%;
    height: 62vh;
}

.noChatsMessage {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}