@use '../../../variables.scss' as v;

.chatPanel,
.messages {
    z-index: 2;
    display: flex;
}

.chatPanel {
    height: 84.5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: linear-gradient(v.$color-primary, v.$color-secondary);
}

.messages {
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 15px 0px;
    width: 78%;
    height: 62vh;
}

.noChatsMessage {
    z-index: 2;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

@media screen and (max-width: 1168px) {
    .chatPanel {
        align-items: center;
    }
    .messages {
        width: 100%;
    }
    .blob {
        display: none;
    }
}