@use '../../variables.scss' as v;

.header {
    height: 150px;
    background-color: v.$color-primary;
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 1.5rem;
        padding-right: 25px;

        li:first-child {
            flex: 1;
        }
    }   
}