.messageBox {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid white;
    width: 80%;
    border-radius: 20px;
    padding: 12px 14px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.messaBoxIcons {
    position: absolute;
    right: 14px;
    top: 12px;
    min-width: 50px;
    display: flex;
    gap: 0.2rem;

    & > div:hover {
        cursor: pointer;
    }
}